   h2{color:brown;background-color:aqua}
        p{border-style:double;
        border-width:5px;
    border-color:gold;
border-radius:10px;
padding:5px;}
h1{
    border-radius: 20px;
    text-align: center;

}
h2{
text-align: center;
}
#p1{
    color:rgb(255, 106, 0);background-color:rgb(220, 243, 245);border-color: darkblue;border-style: outset;
}
#p2{color:blueviolet;background-color: azure;border-color: chocolate;border-style: dotted;}
#p3{color:blue;background-color: aquamarine;border-color: cornsilk;border-style: groove;}
#p4{color:brown;background-color: antiquewhite;border-color: currentColor;border-style: ridge;}